
.about-us {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 0px 20px 50px;
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4, h5 {
    text-align: center;
}