.contact-us {
    display: flex;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px 0;
}

.contact-us h2 {
    color: #49525b;
    margin-bottom: 15px;
}

.contact-us p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.contact-form {
    width: 500px;
    padding-left: 30px;
    padding-right: 30px;
}

.contact-form h3,
.social-links h3,
.map h3 {
    color: #49525b;
    margin-bottom: 10px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    padding: 12px 20px;
    background-color: #49525b;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #003f7f;
}

.social-links ul {
    list-style-type: none;
    text-align: center;
}

.social-links {
    padding: 40px;
}

.social-links ul li {
    margin-bottom: 10px;
}

.social-links ul li a {
    color: #0056b3;
    text-decoration: none;
}

.social-links ul li a:hover {
    text-decoration: underline;
}

.map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.map iframe {
    padding: 10px;
    height: 300px;
    width: 100%; 
    border: none;
    border-radius: 20px;
}
