#job-type{
  display: flex;
  justify-content: space-between;
}


.jobListPage {
  padding:  0px 20px 50px;
  display: flex;
  flex-direction: row;
 justify-content:space-around;
 flex-wrap: wrap;

  
}
.job-card {
  /* background-color: aliceblue; */
  padding: 3%;
  width: 500px;
  margin: 20px 0;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#delete-btn{
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  color: #26589F;
  font-family: 'PT Sans Narrow',sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42rem;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  height: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  cursor: pointer;
}
#delete-btn:active {
  transform: scale(0.9);
}
@media (max-width: 800px) {
  .job-card {
    width: calc(100% - 40px);
  }
}
