.footer{
  background-color: #141D2A;
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}
#footer-info{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
#footer-links{
  display: flex;
  flex-direction: column;
  /*background-color: #1d2c41;*/
  box-shadow: 8px 8px 1px 1px rgba(196, 196, 255, 0.298);
  padding: 15px;
  border-radius: 10px 0;
  width: 20%;
}
#footer-text > h5{
  /*color: rgb(236, 226, 226);*/
  font-weight: 600;
  font-size: 2rem;
  text-decoration: underline;
  text-underline-offset: 5px;
}
#footer-text > p{
  margin-top: 10px;
  /*color: rgb(240, 223, 223);*/
  font-weight: 300;
  font-size: 1rem;
}
#footer-links > h5{
  /*color: rgb(239, 227, 227);*/
  font-weight: 400;

}
a > img{
  background-color: #8186D5;
  border-radius: 100%;
  padding: 4px;
  width: 20px;
}
#footer-img{
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}