.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1px;
    background-color: #997e7e; 
    width: 100%;
}

.logo img {
    width: 200px;
    height: 200px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}

.nav-links a {
    color: rgb(18, 14, 14); 
    text-decoration: none; 
    font-size: 18px; 
}

.nav-links a:hover {
    text-decoration: underline; 
}
