.navbar {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 1px;
    /*background-color:rgb(183, 241, 250);*/
    width: 100%;
}
.logo {
    padding: 0px;
}

.logo img {
    width: 200px;
    height: 100px;
    padding: 0px;
}
.logo-text {
    color: rgb(29, 29, 82);
    padding-left: 10px;
    font-family: cursive;
    padding-top: 0px;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    gap: 70px; 
}

.nav-links a {
    color: rgb(18, 14, 14); 
    text-decoration: none; 
    font-size: 18px; 
}

.nav-links a:hover {
    text-decoration: underline; 
}