
.dark {
    background-color: #000000;
}

.light {
    background-color: #efeded;
  }
  
  .dark{
    background-color: #18191a;
  }
  
  .Navbar.light {
    background-color: #ffffff;
  }
  
  .Navbar.dark {
    background-color: #252526;
  }
  
  .light a,
  .light p,
  .light h1,
  .light h3 {
    color: #000000;
  }
  
  .dark a,
  .dark p,
  .dark h1,
  .dark h3 {
    color: #ffffff;
  }
  