.dark {
  background-color: #18191a;
}

.light {
  background-color: rgb(222, 231, 242);
}

.navbar.light {
  background-color: #a29797;
}

.Navbar.dark {
  background-color: #252526;
}
.footer.light {
  background-color: #a29797;
}
.jobListPage.dark {
background-color: #ffffff;
}
.job-card.light {
  background-color: rgb(238, 210, 210);
}
.nav-button.light {
  background-color: #b8b0b0;
}
.light a,
.light p,
.light h1,
.light h2,
.light h3,
.light h5,
.light li,
.light ul {
  color: #000000;
}

.dark a,
.dark p,
.dark h1,
.dark h2,
.dark h3,
.dark h5,
.dark li,
.dark ul {
  color: #ffffff;
}

.dark label {
  color:#ffffff;
}